@import "variables.scss";

*, ::before, ::after{
	box-sizing: border-box;
}

$brand-black1:#0f1112; // will rename everything properly later
$brand-black2:#1f2123;
$brand-slate: #262728;
$brand-pink: #ef90b0;
$brand-blue: #00a4d9;
$brand-violet: #8c45e4;

html{
	body{
		margin: 0;
		#__next{			
			.page{
				&-header{
					background-image: linear-gradient(120.55deg,$brand-pink 18.56%,$brand-violet 98.01%);
					.title{
						flex-grow: 1;
					}
				}
				&-content{
					color: white;
					background: $brand-black1;
					border-radius: 0;
					padding: 2.5rem 0;
					.home{
						.banner{
							display: flex;
							min-height: 65vh;
							&-text{
								display: flex;
								flex-direction: column;
								justify-content: center;
								&-title{
									font-weight: bold;
								}
								&-subtitle{
									margin-bottom: 50px;
									font-weight: 100;
								}
							}
							&-animation{
								background: white;
								color: red;
								display: flex;
								justify-content: center;
								align-items: center;
								border-radius: 100%;
							}
						}
					}
					.app-container{
						background: $brand-black2;
						min-height: 75vh;
						.dicom-container-grid{
							padding: 25px;
							.dicom-container{
								position: relative;
								height: 100%;
								.dropzone-container{
									height: 100%;
									background: rgba(0,0,0,0.4);
									border: 2px solid $brand-blue;
									border-style: dashed;
									display: flex;
									justify-content: center;
									align-items: center;
								}
								.dicom-viewer{
									position: absolute;
									top: 0;
									height: 100%;
									width: 100%;
									display: block;
									z-index: -2;
									// .cornerstone-canvas{
									// 	width: 1200px;
									// 	height: 1200px;
									// }
								}
							}
						}
						.app-toolnav{
							padding: 0;
							display: flex;
							justify-content: center;
							align-items: center;
						}
					}
				}
				&-footer{
					border-top: 1px solid rgb(50,50,50);
					text-align: center;
					color: white;
					background: $brand-black1;
					min-height: 30vh;
					padding: 25px;
					display: flex;
					flex-direction: column;
					justify-content: center;

					&-logo{
						margin: 25px auto 25px;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						background-color: transparent;
						background-image: linear-gradient(120.55deg,$brand-pink 18.56%,$brand-violet 98.01%);;
					}
					&-company-description{
						max-width: 800px;
						margin: auto;
						font-weight: 100;
						color: rgba(255,255,255,0.8);
						font-size: .85rem;
					}
					&-social-links{
						margin-top: 25px;
						font-weight: 100;
						color: rgba(255,255,255,0.8);
						font-size: .85rem;
						.social-link{
							margin: 0 7px;
							cursor: pointer;
						}
					}
				}
			}
			.button-primary{
				width: 100px;
				color: white;
				font-weight: bold;
				width: 150px;
				padding: 15px;
				background-image: linear-gradient(107.65deg, $brand-pink 17.53%,$brand-violet 94.64%);
				svg{
					margin-right: 5px;
				}
				&:hover{
					background-image: linear-gradient(120.55deg, $brand-violet 18.56%,$brand-pink 98.01%);
				}
			}
		}
	}
}